html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { 
	margin:0; padding:0; 
} 
body{
	font-size: 13px;
	color: black;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border: 0;
}
i,em{
	font-style: normal;
}
b,strong{
	font-weight: normal;
}

/* 高度坍塌*/
.clearfix:after{
	content: '.';
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}
#header .top{
	width: 100%;	
	background: #f7f7f7;
}
#header .top .topbar{
	width: 1000px;
	margin: 0 auto;
	line-height: 30px;
	position: relative;
}
#header .top .topbar .sec2{
	position: absolute;
	left: 480px;
}
#header .search{
	width: 1000px;
	height: 85px;
	margin: 0 auto;
	position: relative;
}
#header .search .text{
	height: 35px;
	position: absolute;
	top: 24px;
	left: 300px;
}
#header .search .text input[type=text]{
	width: 320px;
	height: 29px;
	border:3px solid red;
	padding: 0;
	float: left;
}
#header .search .text input[type=button]{
	width: 82px;
	height: 35px;
	border: none;
	background: url(../img/index/search.png) red no-repeat center center;
	float: left;
}
#header .search .tv{
	width: 290px;
	height: 85px;
	float: right;
}
#header .search .tv .zhibo{
	margin-top: 15px;
}
#header .search .tv .zhibo a{
	line-height: 35px;
}
#header .search .tv .zhibo a span{
	color: red;
	margin-left: 13px;
}
#header .nav{
	width: 100%;
	height: 38px;
	background: #ec4451;
}
#header .nav .navbar{
	width: 1000px;
	position: relative;
	margin: 0 auto;
}
#header .nav .navbar .sec2{
	width: 570px;
	position: absolute;
	left:230px;
	border-bottom: 2px solid grey;
}
#header .nav .navbar .sec2 a{
	margin: 0 10px;
	line-height: 36px;
	color: white;
	font-weight: 2;
}
#header .nav .navbar .sec3{
	width: 127px;
	height: 38px;
	position: absolute;
	left: 800px;
}
#header .nav .navbar .sec3 .pic{
	float: left;
}
#header .nav .navbar .sec3 .scar{
	float:right;
	width: 97px;
	height: 34px;
	background: #f3eadb;
	border: 2px solid gray;
	border-top:2px solid white;
	position: relative;
}
#header .nav .navbar .sec3 .scar p{
	width: 20px;
	height: 15px;
	position: absolute;
	left: 50px;
	top:-10px;
	text-align: center;
	vertical-align: middle;
	color: white;
	background: url(../img/index/pElement.png) no-repeat;
}
#header .nav .navbar .sec3 .scar a{
	margin-left: 20px;
	color: #4e4e4e;
	font-size: 16px;
	line-height: 34px;
}
#header .nav .navbar .sec3 .scar a span{
	margin-left: 18px;
}
#header .select{
	width: 100%;
	background: #f2ddc0;
}
#header .select .selector{
	width: 1000px;
	height: 26px;
	margin: 0 auto;
}
#header .select .selector li{
	float: left;
	width: 110px;
	background: url(../img/index/select-bg.png) no-repeat top right;
}
#header .select .selector li a{
	color: gray;
	font-size: 11px;
	display: block;
	width: 76px;
	line-height: 26px;
	margin:0 17px;
	text-align: center;
	vertical-align: middle;
	background: url(../img/index/select-a-bg.png) no-repeat center right;
}

#footer .linker{
	width: 1000px;
	height: 75px;
	margin: 0 auto;
	border-bottom: 1px solid gray;
}
#header .linker dl{
	float: left;
	width: 200px;
	height: 75px;
	background: url(../img/index/footer-linker-bg.png) no-repeat  94px 7px;
}
#header .linker dl dt{
	float:left;
	width: 94px;
	height: 75px;
}
#header .linker dl dt img{
	margin-top:15px;
	margin-left: 35px; 
}
#header .linker dl dt p{
	margin-top:5px;
	margin-left: 26px; 
}
#header .linker dl dd{
	padding-top: 4px;
	float:right;
	width: 94px;
	height: 75px;
	text-align: center;
}
#header .linker dl dd a{
	display: block;
	line-height: 20px;
	font-size: 12px;
}
#footer .weal{
	width: 1000px;
	height: 75px;
	margin: 0 auto;
	border: 1px solid gray;
	border-top: none;
	background: url(../img/index/footer-bg2.png) repeat-x top left;
}
#footer .weal p{
	width: 200px;
	height: 70px;
	float: left;
}
#footer .weal p img{
	margin-top:12px;
	margin-left: 27px;
}
#footer .about{
	width: 100%;
	padding-top: 12px;
	border-top: 10px solid black;
	
}
#footer .about .aboutbar{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}
#footer .about .aboutbar .sec1{
	float: left;
	width: 141px;
	height: 162px;
	border-right: 1px solid gray;
}
#footer .about .aboutbar .sec1 img{
	padding-top: 37px;
}
#footer .about .aboutbar .sec2{
	float: left;
	width: 465px;
	height: 200px;
	padding-left: 20px;
}
#footer .about .aboutbar .sec2 .linkors a{
	margin-right: 34px;
	color: black;
	font-weight: 800;
}
#footer .about .aboutbar .sec2 p{
	margin-top: 11px;
	font-size: 12px;
	line-height: 22px;
	
}
#footer .about .aboutbar .sec3{
	position: absolute;
	left: 611px;
	width:300px;
	height: 200px;
}
#footer .about .aboutbar .sec3 i{
	margin-left: 27px;
	font-weight: 800;
	text-decoration: underline;
}
#footer .about .aboutbar .sec3 .qvc{
	position: absolute;
	left: 0;
	top: -5px;
}
#footer .about .aboutbar .sec3 .cxwz{
	position: absolute;
	left: 54px;
	top: 40px;
}
#footer .about .aboutbar .sec3 .gfvx{
	position: absolute;
	left: 209px;
	top: 40px;
}