#main .banner{
	width: 1000px;
	height: 381px;
	margin: 0 auto;
}
#main .banner .cont{
	float: left;
	width: 200px;
	height: 380px;
}
#main .banner .cont .sel{
	width: 200px;
	height: 200px;
}
#main .banner .cont .sel img{
	float: left;
}
#main .banner .cont .market{
	width: 200px;
	height: 181px;
	background: url(../img/index/market-bg.png);
	text-align: center;
}
#main .banner .cont .market p{
	padding-top: 140px;
}
#show-area{
    width:800px;
    height:380px;
   	float: right;
}
#main .tvnow{
	width: 1000px;
	margin: 0 auto;
}
#main .tvnow .live{
	width: 720px;
	height: 255px;
	margin: 10px 0;
	float: left;
}
#main .tvnow .live h2{
	height: 26px;
	background: #f1e0c4;
}
#main .tvnow .live h2 span{
	display: block;
	width: 210px;
	height: 26px;
	line-height: 26px;
	color: white;
	float: left;
	margin-left: 60px;
	background: url(../img/index/tvnow-livebg.png) no-repeat #e94550 left top;
}
#main .tvnow .live h2 b{
	display: block;
	float: right;
}
#main .tvnow .live h2 b a{
	display: inline-block;
	margin: 0 10px;
	line-height: 26px;
	font-weight: 800;
}
#main .tvnow .live .live-main{
	width: 720px;
	height: 228px;
	border-bottom: 1px solid gray;
}
#main .tvnow .live .live-main .tvshop{
	width: 270px;
	height: 190px;
	background: blue;
	margin-top: 30px;
	float: left;
	overflow: hidden;
}
#main .tvnow .live .live-main .hotshop{
	width: 450px;
	height: 228px;
	float: right;
}
#main .tvnow .live .live-main .hotshop .alink{
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
#main .tvnow .live .live-main .hotshop .alink a{
	display: block;
	float: left;
	padding: 0 10px;
	border-left: 1px solid black;
}
#main .tvnow .live .live-main .hotshop .alink a:hover{
	background: #ed4552;
	color: white;
}
#main .tvnow .newup{
	width: 260px;
	height: 253px;
	border: 1px solid gray;
	float: right;
	margin: 10px 0;
	font-size: 15px;
	background: url(../img/index/newup-bg.png) repeat top left;
}
#main .tvnow .newup h3{
	padding-top: 10px;
	color: red;
}
#main .tvnow .newup a{
	display: block;
	line-height: 30px;
}
			
